music_directory     "/home/ziga/Music"
playlist_directory  "/home/ziga/Playlists"
db_file             "/home/ziga/.mpd/mpd.db"
log_file            "/home/ziga/.mpd/mpd.log"
pid_file            "/home/ziga/.mpd/mpd.pid"
state_file          "/home/ziga/.mpd/mpd.state"
sticker_file        "/home/ziga/.mpd/sticker.sql"

log_level           "default"
restore_paused      "yes"
metadata_to_use     "artist,album,title,track,date"
auto_update         "yes"

input {
  plugin "curl"
}

audio_output {
  type        "pulse"
  name        "pulse audio"
}
audio_output {
  type        "fifo"
  name        "mpd_fifo"
  path        "/tmp/mpd.fifo"
  format      "44100:16:2"
}

